<p id="notice"><%= notice %></p>

<p>
  <strong>Lang:</strong>
  <%= @translation.lang %>
</p>

<p>
  <strong>Key:</strong>
  <%= @translation.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @translation.value %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
