<ul>
  <li>契約は、このゲームでお金を得る唯一の方法である。</li>
  <li>商品契約を結ぶと、毎月決まった量の生産物を渡し、それによって毎月決まった額の報酬を得る。</li>
  <li>もしも生産物を渡せなければ、ペナルティとしてその月の報酬の10倍の額を支払う。</li>
  <li>一度契約を結ぶと、解約する方法は無い。契約する前に、必要な生産物をきちんと生産できるか事前に確認せよ。</li>
  <li>特定の月は、生産物の量と報酬の額が変動する。具体的にどの月にどう変わるかは、結ぶ契約による。</li>
</ul>

<%- Contract::DESCRIPTIONS.each do |name, description| %>
  <h3>Contract <%= name %><%= @game.contracts.map(&:name).include?(name) ? ' (契約済み)' : '' %></h3>
  <pre><%= description %></pre>
<%- end %>

<%= form_with(model: [@game, contract], local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
        <% contract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.select :name, Contract::RULES.keys %>
  </div>

  <div class="actions">
    <%= form.submit 'Sign the contract' %>
  </div>
<% end %>
