<p>
Current cash: <%= number_to_currency(@game.cash, precision: 0, format: '%u%nK') %>
</p>

<h3>Manual factory <%= @game.factories.map(&:name).include?('manual') ? '(所有済み)' : '($0)' %></h3>
<p>
手作業で作る。従業員の能力差が露骨に生産性に効いてくる。
一度この工場を建設すれば(無料)、ここに何人でも割り当てることができる。
<br>
具体的にはこの工場にいる全従業員の能力和がそのまま生産力。例えば中級従業員(能力40)が5人なら生産力は200。
これによって原料を200t消費して、100t分の生産物を得る。
</p>

<h3>Semi-auto factory <%= @game.factories.map(&:name).include?('semi-auto') ? '(所有済み)' : '($90K)' %></h3>
<p>
Manualと後述のFull-autoの間で、従業員の能力差がそこそこ生産性に効いてくるが、とりあえず誰がやってもそこそこいける。
一度$90K払ってこの工場を建設すれば、ここに何人でも割り当てることができる。
<br>
具体的には、この工場にいる各従業員の人数*30と、能力和の1/2が生産力。例えば中級従業員(能力40)が5人なら生産力は150+100 = 250。
これによって原料を250t消費して、125t分の生産物を得る。
</p>

<h3>Full-auto factory <%= @game.factories.map(&:name).include?('full-auto') ? '(所有済み)' : '($200K)' %></h3>
<p>
従業員の能力差を一切無視し、誰がやっても同じ生産性を得る。
一度$200K払ってこの工場を建設すれば、ここに何人でも割り当てることができる。
<br>
具体的には、この工場にいる各従業員の人数*70が生産力。例えば中級従業員(能力40)が5人なら生産力は350。
これによって原料を350t消費して、175t分の生産物を得る。
</p>

<h3>Idle (所有済み)</h3>
<p>
待機中で何もしていない従業員を示すためのもの。新規に雇った従業員は便宜的にここに割り当てられる。<br>
何も生産しないが、従業員への給与は継続的に支払われるので要注意。
</p>


<%= form_with(model: [@game, factory], local: true) do |form| %>
  <% if factory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factory.errors.count, "error") %> prohibited this factory from being saved:</h2>

      <ul>
        <% factory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :game_id, @game.id %>

  <%- unbuilt_factories = ['manual', 'semi-auto', 'full-auto'] - @game.factories.map(&:name) %>
  <%- if unbuilt_factories.present? %>
    <div class="field">
      <%= form.label :name %>
      <%= form.select :name, unbuilt_factories %>
    </div>

    <div class="actions">
      <%= form.submit 'Build New Factory' %>
    </div>
  <%- else %>
    (You already have completed building all the factories!)
  <%- end %>
<% end %>
