<p id="notice"><%= notice %></p>

<h1>Factories</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Name</th>
      <th>Junior</th>
      <th>Intermediate</th>
      <th>Senior</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factories.each do |factory| %>
      <tr>
        <td><%= factory.game_id %></td>
        <td><%= factory.name %></td>
        <td><%= factory.junior %></td>
        <td><%= factory.intermediate %></td>
        <td><%= factory.senior %></td>
        <td><%= link_to 'Show', factory %></td>
        <td><%= link_to 'Edit', edit_factory_path(factory) %></td>
        <td><%= link_to 'Destroy', factory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factory', new_factory_path %>
