<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @factory.game_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @factory.name %>
</p>

<p>
  <strong>Junior:</strong>
  <%= @factory.junior %>
</p>

<p>
  <strong>Intermediate:</strong>
  <%= @factory.intermediate %>
</p>

<p>
  <strong>Senior:</strong>
  <%= @factory.senior %>
</p>

<%= link_to 'Edit', edit_factory_path(@factory) %> |
<%= link_to 'Back', factories_path %>
