<p id="notice"><%= notice %></p>
<%- if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<%- end %>

<h1>GenericFactoryGame</h1>
<h2>Version <%= GenericFactoryGame::VERSION %></h2>
(Released on <%= GenericFactoryGame::RELEASE_DATE %>)

<br>
<img src="images/generic-factory-game.png" title="GenericFactoryGame">

<h2>MENU</h2>
<ul>
  <li><%= link_to 'Create a new player', new_player_path %>
  <li><%= link_to 'Start a new game', new_game_path %>
  <li><%= link_to 'List saved games', games_path %>
  <li><%= link_to 'High score', games_highscore_path %>
</ul>

<hr/>

<a href="https://gist.github.com/ujihisa/06ab65998f6db112fcb44928b3fd7608">(How to play in Japanese)</a>
