<p id="notice"><%= notice %></p>

<h1>GenericFactoryGame</h1>
<h2>Version <%= GenericFactoryGame::VERSION %> (PRE ALPHA)</h2>
(Released on <%= GenericFactoryGame::RELEASE_DATE %>)

<br>
<img src="images/generic-factory-game.png" title="GenericFactoryGame">

<h2>プレイ方法三行解説</h2>
<ul>
  <li>工場・倉庫・原料を買う</li>
  <li>従業員を雇って工場に割当、原料を加工して商品を生産しまくる</li>
  <li>顧客と契約を結んで毎月商品を納品する</li>
  <li>なるべく少ない年数で$1,000K稼げば勝利、破産すればゲームオーバー</li>
</ul>

<h2>MENU</h2>
<ul>
  <li><%= link_to 'Create a new player', new_player_path %>
  <li><%= link_to 'Start a new game', new_game_path %>
  <li><%= link_to 'List saved games', games_path %>
  <li><%= link_to 'High score', games_highscore_path %>
</ul>
