<p id="notice"><%= notice %></p>

<h1>Home#index</h1>
<p>プレイ方法三行解説</p>
<ul>
  <li>工場・倉庫・原料を買う</li>
  <li>従業員を雇って工場で生産しまくる</li>
  <li>契約つくって契約に従う</li>
</ul>

<ul>
  <li><%= link_to 'Create a new player', new_player_path %>
  <li><%= link_to 'Start a new game', new_game_path %>
  <li><%= link_to 'List saved games', games_path %>
  <li><%= link_to 'High score', players_path %>
</ul>
