<p id="notice"><%= notice %></p>

<h1>High score</h2>

<h2>Version <%= GenericFactoryGame::VERSION %></h2>

<%- ['easy', 'normal'].each do |mode| %>
  <h3><%= mode.capitalize %> mode</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Shortest months to win</th>
        <th>Victory date</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @games[mode].each do |game| %>
        <%- player = game.player %>
        <tr>
          <td><%= player.name %></td>
          <td><%= game.month %> months</td>
          <td><%= game.updated_at.in_time_zone('America/Vancouver').iso8601 %></td>
          <td><%= link_to 'Details', game %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%- end %>

<br>

<h2>Version <%= GenericFactoryGame::PREVIOUS_VERSION %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shortest months to win</th>
    </tr>
  </thead>

  <tbody>
    <% @old_games.each do |game| %>
      <%- player = game.player %>
      <tr>
        <td><%= player.name %></td>
        <td>
          <%= game.month %> months
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
