<p id="notice"><%= notice %></p>

<h1>High score</h2>

<h2>Version <%= GenericFactoryGame::VERSION %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shortest months to win</th>
      <th>Victory date</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <%- player = game.player %>
      <tr>
        <td><%= player.name %></td>
        <td><%= game.month %> months</td>
        <td><%= game.updated_at.in_time_zone('America/Vancouver').iso8601 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Version <%= GenericFactoryGame::PREVIOUS_VERSION %></h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shortest months to win</th>
    </tr>
  </thead>

  <tbody>
    <% @old_games.each do |game| %>
      <%- player = game.player %>
      <tr>
        <td><%= player.name %></td>
        <td>
          <%- if player.previous_best_game %>
            <%= player.previous_best_game.month %> months</td>
          <%- else %>
            N/A
          <%- end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
