<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Player</th>
      <th>Months spent</th>
      <th>Money</th>
      <th>Storage</th>
      <th>Ingredient</th>
      <th>Product</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.player.name %></td>
        <td><%= game.month %></td>
        <td><%= number_to_currency(game.money, precision: 0, format: '%u%nK') %></td>
        <td><%= game.storage %></td>
        <td><%= game.ingredient %></td>
        <td><%= game.product %></td>
        <td><%= link_to game.status.to_s.capitalize, game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
