<p id="notice"><%= notice %></p>

<h1>GenericFactoryGame Saved Data</h1>

<h2>Version <%= GenericFactoryGame::VERSION %></h2>

<table>
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Player</th>
      <th>Months spent</th>
      <th>Money</th>
      <th>Storage</th>
      <th>Ingredient</th>
      <th>Product</th>
      <th>Status</th>
      <th>Last update</th>
    </tr>
  </thead>

  <tbody>
    <% @current_games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.player.name %></td>
        <td><%= game.month %></td>
        <td>
          <font color="<%= {game_over: 'red', in_progress: 'black', completed: 'blue'}[game.status] %>">
          <%= number_to_currency(game.money, precision: 0, format: '%u%nK') %>
          </font>
        </td>
        <td><%= game.storage %></td>
        <td><%= game.ingredient %></td>
        <td><%= game.product %></td>
        <td><%= link_to game.status.to_s.capitalize, game %></td>
        <td><%= game.updated_at.in_time_zone('America/Vancouver').iso8601 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Archived games</h2>

<table>
  <thead>
    <tr>
      <th>Game Version</th>
      <th>Game ID</th>
      <th>Player</th>
      <th>Months spent</th>
      <th>Money</th>
      <th>Storage</th>
      <th>Ingredient</th>
      <th>Product</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @archived_games.each do |game| %>
      <tr>
        <td><%= game.version %></td>
        <td><%= game.id %></td>
        <td><%= game.player.name %></td>
        <td><%= game.month %></td>
        <td><%= number_to_currency(game.money, precision: 0, format: '%u%nK') %></td>
        <td><%= game.storage %></td>
        <td><%= game.ingredient %></td>
        <td><%= game.product %></td>
        <td><%= link_to game.status.to_s.capitalize, game %></td>
      </tr>
    <% end %>
  </tbody>
</table>
