<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Month</th>
      <th>Money</th>
      <th>Storage</th>
      <th>Ingredient</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.player %></td>
        <td><%= game.month %></td>
        <td><%= game.money %></td>
        <td><%= game.storage %></td>
        <td><%= game.ingredient %></td>
        <td><%= game.product %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
