<%- if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<%- end %>

<% if @game.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

    <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="field">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style='max-width: 700px'>
    <h1 class="display-4">Start a new game</h1>
    <%- if current_user %>
      <p class="lead">Choose the game difficulty</p>
    <%- end %>
  </div>

  <%- if current_user %>
    <%- player = current_user.player %>
    <div class="container" style='max-width: 960px;'>
      <div class="card-deck mb-3">
        <!-- Tutorial -->
        <div class="card mb-4 shadow-sm" style='min-width: 220px;'>
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Tutorial <%= player.best_game('tutorial') ? '✔️' : '' %></h4>
          </div>
          <div class="card-body">
            <%= form_with(model: @game, local: true) do |form| %>
              <%= hidden_field_tag :'game[player_id]', player.id %>
              <%= hidden_field_tag :'game[mode]', 'tutorial' %>
              <%= form.submit "Try tutorial", class: 'btn btn-lg btn-secondary' %>
            <% end %>
            <p></p>

            <p class="card-text">
              If it's first time coming here, try this first!
            </p>
            <p>
              Many features are locked. Please use this to learn about the UI and the basics of the game.
            </p>
            <ul>
              <li>Initial money: $999K</li>
              <li>Goal: $1000K</li>
              <li>Start from nothing: false</li>
              <li>Usually it takes between 1sec to 1min</li>
            </ul>
          </div>
        </div>
        <!-- Easy -->
        <div class="card mb-4 shadow-sm" style='min-width: 220px;'>
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Easy</h4>
          </div>
          <div class="card-body">
            <%= form_with(model: @game, local: true) do |form| %>
              <%= hidden_field_tag :'game[player_id]', player.id %>
              <%= hidden_field_tag :'game[mode]', 'easy' %>
              <%= form.submit "Start game", class: 'btn btn-lg btn-block btn-primary' %>
            <% end %>

            <p>
            <%- if best_game = player.best_game('easy') %>
              Best score: <%= best_game.month %> months
            <%- elsif player.games.empty? %>
              First time to try!
            <%- else %>
              <%= link_to 'Working in progress', games_path %>
            <%- end %>
            </p>

            <p class="card-text">
              The main game, but this is a lot easier. Use this difficulty setting to understand the game system!
            </p>
            <ul>
              <li>Initial money: $300K</li>
              <li>Goal: $1000K</li>
              <li>Start from nothing: true</li>
              <li>Usually it takes between 3mins to 5mins</li>
            </ul>
          </div>
        </div>
        <!-- Normal -->
        <div class="card mb-4 shadow-sm" style='min-width: 220px;'>
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Normal</h4>
          </div>
          <div class="card-body">
            <%= form_with(model: @game, local: true) do |form| %>
              <%= hidden_field_tag :'game[player_id]', player.id %>
              <%= hidden_field_tag :'game[mode]', 'normal' %>
              <%= form.submit "Start game", class: 'btn btn-lg btn-block btn-primary' %>
            <% end %>

            <p>
            <%- if best_game = player.best_game('normal') %>
              Best score: <%= best_game.month %> months
            <%- elsif player.games.empty? %>
              First time to try!
            <%- else %>
              <%= link_to 'Working in progress', games_path %>
            <%- end %>
            </p>

            <p class="card-text">
              The main game. Not too hard to play but can be challenging if you'd like to achieve a higher score.
            </p>
            <ul>
              <li>Initial money: $0K</li>
              <li>Goal: $1000K</li>
              <li>Start from nothing: false</li>
              <li>Usually it takes between 5mins to 10mins</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <%- else %>
    <div class="alert alert-danger" role="alert">
      You aren't logged in.
    </div>
    <div class="container" style='max-width: 960px;'>
      <div class="card-deck mb-3 text-center">
        <%- @players.each_slice(3).each do |players| %>
          <%- players[2] ||= nil # To expand always to 3 %>
          <%- players.each do |player| %>
            <div class="card mb-4 shadow-sm" style='min-width: 220px;'>
              <%- if player %>
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal"><%= player.name %></h4>
                </div>
                <div class="card-body">
                  <div>
                    <strong>
                      <%= link_to 'Sign up', new_user_registration_path(player_id: player.id) %>
                    </strong>
                  </div>
                  <br/>

                </div>
              <%- end %>
            </div>
          <%- end %>
          <br/>
        <%- end %>
      </div>
    </div>
  <%- end %>
</div>
<div class="alert alert-info" role="alert">
  Didn't find your own player? Try creating a player for you! <%= link_to new_player_url, new_player_path %>
</div>

</div></div>

<%= link_to 'Back', games_path %>
