<ul>
  <li>$1K per 20t</li>
  <li>倉庫の容量の限界まで購入可能。原料に消費期限はないし、維持費も不要 (倉庫は維持費が必要)。</li>
  <li>もし原料が足りなければ、その原料によって生産されるはずであった生産物は得られない。</li>
</ul>

<div class="field">
  <%- (1..([@game.money, (@game.storage - @game.ingredient - @game.product) / 20].min)).each do |num| %>
    <%= form_with(url: create_ingredients_game_url, method: 'post') do |form| %>
      <%= hidden_field_tag 'num', num %>
      <%= form.submit "Buy #{20 * num}t" %>
      (Money: <%= number_to_currency(@game.money, precision: 0, format: '%u%nK')%> → <%= number_to_currency(@game.money - num, precision: 0, format: '%u%nK')%>)
    <% end %>
  <%- end %>
</div>

<div class="actions">
</div>

<p>
<%= link_to 'Back', @game %>
</p>
