100t Storage

<ul>
  <li>$1k to buy</li>
  <li>$1k/month to keep</li>
  <li>原料と生産物のどちらもこの倉庫に格納される。倉庫の容積を上回る量の原料や生産物を格納することはできない。</li>
</ul>

<div class="field">
  <%- if 1 <= @game.money %>
    <%- (1..@game.money).each do |num| %>
      <%= form_with(url: create_storages_game_url, method: 'post') do |form| %>
        <%= hidden_field_tag 'num', num %>
        <%= form.submit "Buy #{num}" %>
        <%= 100 * num %>t
        (Money: <%= number_to_currency(@game.money, precision: 0, format: '%u%nK')%> → <%= number_to_currency(@game.money - num, precision: 0, format: '%u%nK')%>)
      <% end %>
    <%- end %>
  <%- else %>
    <font color=red>You don't have enough money to buy storages</font>
  <%- end %>
</div>

<div class="actions">
</div>

<p>
<%= link_to 'Back', @game %>
</p>
