100t Storage

<ul>
  <li>$1k to buy</li>
  <li>$1k/month to keep</li>
</ul>

<div class="field">
  <%- (1..(@game.money)).each do |num| %>
    <%= form_with(url: create_storages_game_url, method: 'post') do |form| %>
      <%= hidden_field_tag 'num', num %>
      <%= form.submit "Buy #{num}" %>
      <%= 100 * num %>t
      (Money: <%= number_to_currency(@game.money, precision: 0, format: '%u%nK')%> → <%= number_to_currency(@game.money - num, precision: 0, format: '%u%nK')%>)
    <% end %>
  <%- end %>
</div>

<div class="actions">
</div>
