<p id="notice"><%= notice %></p>

<%- if @game.money < 0 %>
  <font size=7 color=red>GAME OVER</font>
<%- elsif 1000 <= @game.money %>
  <font size=5>Game Clear!</font>
<%- end %>


<p>
  <strong>Player:</strong>
  <%= @game.player.name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @game.current_month %> (Months spent: <%= @game.month %>)
</p>

<p>
  <strong>Money:</strong>
  <%= number_to_currency(@game.money, precision: 0, format: '%u%nK') %>
</p>

<p>
  <strong>(Ingredient + Product) / Storage:</strong>
  (<%= @game.ingredient %>t + <%= @game.product %>t) / <%= @game.storage %>t
</p>

<p>
  <strong>Factories:</strong>
  <%- if @game.factories.empty? %>
    No factories
  <%- else %>
    <table border=1>
      <tr>
        <th>Name</th>
        <th>Juniors assigned</th>
        <th>Intermediates assigned</th>
        <th>Seniors assigned</th>
      </tr>
    <%- @game.factories.each do |factory| %>
      <tr>
        <td><%= factory.name.capitalize %></td>
        <td><%= factory.junior %></td>
        <td><%= factory.intermediate %></td>
        <td><%= factory.senior %></td>
      </tr>
    <%- end %>
    </table>

    <ul>
      <li>Estimated Ingredients Consumption: <%= @game.production * 2 %>t</li>
      <li>Estimated Product Generation: <%= @game.production %>t</li>
    </ul>
  <%- end %>
</p>

<p>
  <strong>Contracts:</strong>
  <ul>
    <%- @game.contracts.each do |contract| %>
      <li>Contract <%= contract.name %> (<%= Contract::DESCRIPTIONS[contract.name] %>)</li>
    <%- end %>
  </ul>
  Current required products: <%= @game.contracts.map(&:name).map { Contract::RULES[_1][@game.current_month][0] }.sum %>t
</p>


<h3>Actions</h3>

<%- if (0..1000).include?(@game.money) %>
  <ul>
    <li><%= link_to 'Buy Storages', new_storages_game_path %> (倉庫購入)
    <li><%= link_to 'Build a Factory', new_game_factory_path(@game.id) %> (工場建設)
    <li><%= link_to 'Hire an employee', new_employee_game_path %> (従業員新規雇用)
    <li><%= link_to 'Dispatch an employee', new_dispatch_game_path %> (従業員の割当)
    <li><%= link_to 'Buy Ingredients', new_ingredients_game_path %> (原料の購入)
    <li><%= link_to 'Make a contract', new_game_contract_path(@game.id) %> (新規契約を結ぶ)
  </ul>
  <%= form_with(url: end_month_game_url, method: 'post') do |form| %>
    <%= form.submit 'End month' %>
  <% end %>
<%- end %>

<br/>
<%= link_to 'Back', games_path %>
