<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @game.player.name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @game.current_month %> (Months spent: <%= @game.month %>)
</p>

<p>
  <strong>Money:</strong>
  <%= number_to_currency(@game.money, precision: 0, format: '%nK') %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @game.storage %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @game.ingredient %>
</p>

<p>
  <strong>Product:</strong>
  <%= @game.product %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
