<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @game.player.name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @game.current_month %> (Months spent: <%= @game.month %>)
</p>

<p>
  <strong>Money:</strong>
  <%= number_to_currency(@game.money, precision: 0, format: '%u%nK') %>
</p>

<p>
  <strong>(Ingredient + Product) / Storage:</strong>
  (<%= @game.ingredient %>t + <%= @game.product %>t) / <%= @game.storage %>t
</p>

<p>
  <strong>Factories:</strong>
  <%- if @game.factories.empty? %>
    No factories
  <%- else %>
    <table border=1>
      <tr>
        <th>Name</th>
        <th>Juniors assigned</th>
        <th>Intermediates assigned</th>
        <th>Seniors assigned</th>
      </tr>
    <%- @game.factories.each do |factory| %>
      <tr>
        <td><%= factory.name.capitalize %></td>
        <td><%= factory.junior %></td>
        <td><%= factory.intermediate %></td>
        <td><%= factory.senior %></td>
      </tr>
    <%- end %>
    </table>
  <%- end %>
</p>


<%- if (0..1000).include?(@game.money) %>
  <ul>
    <li><%= link_to 'Buy Storages', new_storages_game_path %>
    <li><%= link_to 'Build a Factory', new_game_factory_path(@game.id) %>
    <li><%= link_to 'Hire an employee', new_employee_game_path %>
  </ul>
<%- end %>

<br/>
<%= link_to 'Back', games_path %>
