<%- case @game.status %>
<%- when :game_over %>
  <h1 class='display-3 jumbotron'>
    <font color=red>
      ðŸ’¸ðŸ’€ðŸ’¸ GAME OVER
    </font>
  </h1>
<%- when :completed %>
  <h1 class='display-3 jumbotron'>
    ðŸŽ‰ Game Clear!
  </h1>
<%- end %>

<b><%= @game.player.name %></b>'s game <b><%= @game.id %></b> / month <b><%= @game.month %></b> / <%= @game.status %> / VERSION <%= @game.version %>
<hr>

<div class="row">
  <div class="col-md-9 themed-grid-col">
    <%= react_component('GamePane', {
      status: @game.status,
      cash: @game.cash,
      debt: @game.debt,
      credit: @game.credit,
      storage: @game.storage,
      ingredientSubscription: @game.ingredient_subscription,
      action: borrow_money_game_url,
      formAuthenticityToken: form_authenticity_token,
      subscribe_ingredients_game_url: subscribe_ingredients_game_url,
      end_month_game_url: end_month_game_url,
      estimate_status: @estimate.status,
      create_storages_game_url: create_storages_game_url,
      month: @game.month,
      ingredient: @game.ingredient,
      product: @game.product,
      idleFactory: @game.idle_factory,
      factoryNames: @game.factories.map(&:name),
      new_game_factory_path: new_game_factory_path(@game.id),
      new_employee_game_path: new_employee_game_path,
      new_dispatch_game_path: new_dispatch_game_path,
      createContractUrl: game_contracts_path(@game.id),
      contractDump: Contract.dump,
      signedContracts: @game.signed_contracts,
      buy_ingredients_game_url: buy_ingredients_game_url,
      notice: notice,
      productionYield: @game.capped_production,
      equipments: @game.equipments,
      employees: Dispatch.employee_groups_with_num_hired(@game.dispatches),
    }) %>
  </div>

  [<%= Dispatch.production_vol(@game.dispatches, @game.equipments) %>]

  <div class="col-md-3 themed-grid-col">
  <h2>Calendar</h2>
  <h5><%= @game.current_month %> <%= 2020 + @game.month / 12 %> result</h5>
  <ul>
    <%- @game.messages.each do |message| %>
      <li /><%= message %>
    <%- end %>
  </ul>
  <h5><%= @estimate.current_month %> <%= 2020 + @estimate.month / 12 %> estimate</h5>
  <ul>
    <%- @estimate.messages.each do |message| %>
      <li class="text-muted"/><%= message %>
    <%- end %>
  </ul>

    <hr>
    <%- if notice %>
      <p id="notice">
      ðŸ†•
      <%= notice %>
      </p>
    <%- end %>

      <h3>Factory</h3>
        <table>
          <tr>
            <th>Name</th>
            <th>Juniors assigned</th>
            <th>Intermediates assigned</th>
            <th>Seniors assigned</th>
          </tr>
          <%- @game.active_factories.each do |factory| %>
            <tr>
              <td><%= factory.name.capitalize %></td>
              <td>
                <%- factory.junior.times do %>
                  <img src='/images/employee-junior.png' width=16 title=junior>
                <%- end %>
              </td>
              <td>
                <%- factory.intermediate.times do %>
                  <img src='/images/employee-intermediate.png' width=16 title=intermediate>
                <%- end %>
              </td>
              <td>
                <%- factory.senior.times do %>
                  <img src='/images/employee-senior.png' width=16 title=senior>
                <%- end %>
              </td>
            </tr>
          <%- end %>
        </table>
        <div style='text-align: right'>
          <%= link_to 'âž¡ï¸', new_dispatch_game_path if @game.status == :in_progress %>
        </div>

        <ul>
          <li>
            Estimated Ingredients Consumption: <%= @game.production / Game::INGREDIENT2PRODUCT %>t
            <%- if @game.production != @game.capped_production %>
              <ul>
                <li><font color=red>(Capped to <%= @game.capped_production / Game::INGREDIENT2PRODUCT %>t, because you don't have much ingredients!)</font>
              </ul>
            <%- end %>
          </li>
          <li>
            Estimated Product Generation: <%= @game.production %>t
            <%- if @game.production != @game.capped_production %>
              <ul>
                <li><font color=red>(Capped to <%= @game.capped_production %>t, because you don't have much ingredients!)</font>
              </ul>
            <%- end %>
          </li>
        </ul>
        </p>

        <br/>
  </div>
</div>
<%- if Rails.env.development? %>
  <hr>
  <div align="right">
    <h2>DEVELOPMENT</h2>
    <%= form_with(url: force_change_game_url, method: 'post') do |form| %>
      Cash: <%= form.text_field :cash, value: @game.cash %><br/>
      Debt: <%= form.text_field :debt, value: @game.debt %><br/>
      Credit: <%= form.text_field :credit, value: @game.credit %><br/>
      Storage: <%= form.text_field :storage, value: @game.storage %><br/>
      Product: <%= form.text_field :product, value: @game.product %><br/>
      Ingredient: <%= form.text_field :ingredient, value: @game.ingredient %><br/>
      <%= form.submit %>
    <%- end %>
  </div>
<%- end %>
