<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @game.player.name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @game.current_month %> (Months spent: <%= @game.month %>)
</p>

<p>
  <strong>Money:</strong>
  <%= number_to_currency(@game.money, precision: 0, format: '%u%nK') %>
</p>

<p>
  <strong>(Ingredient + Product) / Storage:</strong>
  (<%= @game.ingredient %>t + <%= @game.product %>t) / <%= @game.storage %>t
</p>


<%- if (0..1000).include?(@game.money) %>
  <ul>
    <li><%= link_to 'Buy Storage', new_storages_game_path %>
    <li><%= link_to 'Buy Factory', new_factory_game_path %>
  </ul>
<%- end %>

<br/>
<%= link_to 'Back', games_path %>
